In [7]:
import pandas as pd

In [ ]:
pd.__version__

In [9]:
dict_measures = {'age': [15, 18, 25, 25, 40, 55, 58, 60, 80], 'height': [160, 162, 165, 168, 172, 174, 174, 174, 176]}

In [10]:
dict_measures

{'age': [15, 18, 25, 25, 40, 55, 58, 60, 80],
 'height': [160, 162, 165, 168, 172, 174, 174, 174, 176]}

In [11]:
df_measures = pd.DataFrame.from_dict(dict_measures)

In [6]:
df_measures

   age  height
0   15     160
1   18     162
2   25     165
3   25     168
4   40     172
5   55     174
6   58     174
7   60     174
8   80     176

## Summary Measures (Medidas Resumo)

### Measures of Position (Medidas de Posição)

In [14]:
# mean (media)
df_measures["age"].mean()

41.77777777777778

In [15]:
# median (mediana)
df_measures["age"].median()

40.0

In [16]:
# mode (moda)
df_measures["age"].mode()

0    25
Name: age, dtype: int64

In [17]:
df_measures["height"].mode()

0    174
Name: height, dtype: int64